<div class="row">
  <div class="col-md-3">
    <h2>プロフィール</h2>
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
    <table class="table">
      <tbody>
        <tr></tr>
        <tr>
          <th>ユーザー名</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>自己紹介</th>
          <th><%= @user.introduction %></th>
        </tr>
        <tr>
          <td>フォロー中</td>
          <td>
            <%= link_to following_user_path(@user) do %>
              <%= @user.following.count %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>フォロワー</td>
          <td>
            <%= link_to followers_user_path(@user) do %>
              <%= @user.followers.count %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <% if @user.id == current_user.id %>
        <%= link_to edit_user_path(current_user.id), class:"col-xs-12 btn btn-default" do %>
          <i class="glyphicon glyphicon-wrench">編集する</i>
        <% end %>
      <% else %>
        <% if current_user.following?(@user) %>
          <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-primary" %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-success" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-9">
    <%= render "posts/post_list", posts: @posts %>
  </div>
</div>
