<div class="row">
  <div class="col-md-8 col-sm-offset-2">
    <h2 class="head-line title_h2 text-center">投稿一覧(いいねランキング順</h2>
    <div class="masonry-wrapper-cols">
      <% @posts.each do |post| %>
        <div class="masonry-block">
          <div class="block block-image v1">
            <div class="block-image">
              <div class="view view-first">
                <%= link_to post_path(post.id) do %>
                  <% if post.post_images.present? %>
                    <% post.post_images.first(1).each do |image| %>
                      <%= attachment_image_tag image, :image, :fill, 100, 100, class: "default_image" %>
                    <% end %>
                  <% else %>
                    画像はありません。
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="block-content">
              <%= attachment_image_tag post.user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg" %>
              <h3 class="block-title">
                <%= link_to post_path(post.id) do %>
                  <i class="fa fa-map-marker"></i><%= post.title %>
                <% end %>
              </h3>
              <ul class="inline-meta">
                <li class="favorite-btn_<%= post.id %>">
                  <%= render 'favorites/favorite-btn', post: post %>
                </li>
                <li class="comment-count">
                  <%= link_to "コメント数:#{post.post_comments.count}", post_path(post.id) %>
                </li>
                <li>
                  <%= render 'posts/tag_list', tag_list: post.tag_list %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
      <%= paginate @posts %>
    </div>
  </div>
</div>