<div class="row">
  <div class="col-md-3">
    <div class="tag-index">
      <h3>タグ一覧</h3>
      <% if @tags.present? %>
        <% @tags.each do |tag| %>
          <%= link_to tag, posts_path(tag_name: tag), class: "text-white" %>
        <% end %>
      <% else %>
        登録されたタグはありません。
      <% end %>
    </div>
  </div>
  <div class="col-md-9">
    <h2 class="head-line title_h2 text-center">投稿一覧(いいねランキング順)</h2>
    <% @posts.each do |post| %>
      <div class="index-post">
        <div class="index-post-header">
          <table>
            <tbody>
              <tr>
                <th>
                  <%= link_to user_path(post.user.id) do %>
                    <%= attachment_image_tag post.user, :profile_image, :fill, 30, 30, format: 'jpeg', class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg" %>
                    <%= post.user.name %>
                  <% end %>
                </th>
                <th>
                  <%= post.title %>
                </th>
                <% if post.user == current_user %>
                  <th>
                    <%= link_to "編集する", edit_post_path(post) %>
                  </th>
                  <th>
                    <%= link_to "削除する", post_path(post), method: :delete %>
                  </th>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="post-image">
          <%= link_to post_path(post.id) do %>
            <% if post.post_images.present? %>
              <% post.post_images.first(1).each do |image| %>
                <%= attachment_image_tag image, :image, :fill, 400, 300, class: "default_image" %>
              <% end %>
            <% else %>
              画像はありません。
            <% end %>
          <% end %>
        </div>
        <div class="post-body-box">
          <%= post.body %>
        </div>
        <div class="post-content">
          <ul class="post-content-list">
            <li class="favorite-btn">
              <%= render 'favorites/favorite-btn', post: post %>
            </li>
            <li>
              <i class="fa fa-comment"></i>
              <a class="comment-count">
                コメント数:<%= post.post_comments.count %>
              </a>
            </li>
          </ul>
          <ul class="post-content-list">
            <li>
              <%= render 'posts/tag_list', tag_list: post.tag_list %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>