<!DOCTYPE html>
<html>
  <head>
    <title>PicNov</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/a882e813e6.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="wrapper">
    <header>
      <nav class="nav navbar-nav navbar-left header-title">
        <%= link_to root_path, class: "fas fa-camera-retro" do %>
          PicNov
          <i class="fas fa-pen-nib"></i>
        <% end %>
      </nav>
      <% if user_signed_in? %>
        <nav class="nav navbar-nav header-welcome">
          ようこそ、
          <span class="header-name"><%= current_user.name %></span>さん！
        </nav>
      <% end %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>
              <%= link_to "マイページ", user_path(current_user), class: "header_btn glyphicon glyphicon-home" %>
            </li>
            <li>
              <%= link_to "投稿一覧", posts_path, class: "header_btn glyphicon glyphicon-post" %>
            </li>
            <li>
              <%= link_to "投稿フォーム", new_post_path, class: "header_btn glyphicon glyphicon-pencil" %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header_btn glyphicon glyphicon-log-out" %>
            </li>
          <% else %>
            <li>
              <%= link_to "新規登録", new_user_registration_path, class: "header_btn glyphicon glyphicon-edit" %>
            </li>
            <li>
              <%= link_to "ログイン", new_user_session_path, class: "header_btn glyphicon glyphicon-log-in" %>
            </li>
            <li>
              <%= link_to "about", home_about_path, class: "header_btn glyphicon glyphicon-info-sign" %>
            </li>
          <% end %>
        </ul>
        <div class="nav navbar-nav header-search">
          <% if user_signed_in? %>
            <%= form_with url:search_path, method: :get, local: true do |f| %>
              <%= f.text_field :keyword %>
              <%= f.select :model, [["ユーザー", "user"], ["投稿", "post"]] %>
              <%= f.select :search, [["前方一致","forward_match"], ["後方一致","backward_match"], ["完全一致","perfect_match"], ["部分一致","partial_match"]] %>
              <%= f.submit "検索", class: "btn btn-default" %>
            <% end %>
          <% end %>
      </nav>
    </header>
    <div class="container">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% elsif flash[:alert] %>
        <p class="alert"><%= flash[:alert] %></p>
      <% end %>
      <%= yield %>
    </div>
    <footer>
      <ul class="footer-menu">
        <li>
          <%= link_to "home", root_path %> ｜
        </li>
        <li>
          <%= link_to "about", home_about_path %> ｜
        </li>
      </ul>
      <p>© All rights reserved by Hiroshi Asano</p>
    </footer>
  </div>
  </body>
</html>
